<% content_for :meta do %>
  <meta name="viewport" content="width=device-width">
<% end %>

<header>
  <h1><%= image_tag 'logo_colorful.png', id: 'handle' %></h1>
</header>

<%= image_tag 'black.png' %>