<% content_for :meta do %>
  <meta name="viewport" content="width=500">
<% end %>

<header>
  <h1><%= image_tag 'logo_colorful.png', id: 'handle' %></h1>
</header>

<div id="machi_wrap">
  <%= image_tag 'black.png', id: 'machi_handle' %>
</div>
