<% content_for :meta do %>
  <meta name="viewport" content="width=device-width">
<% end %>
<h1>handle</h1>
ここで操作するんやで

<%= form_for(@game) do |f| %>
  <%= f.submit "引く" %>
<% end %>

<%= image_tag 'black.png' %>