<h1>Game#index</h1>
<p>Find me in app/views/game/index.html.erb</p>

<%= link_to "new game", new_game_path %>

<ul>
  <% @games.each do |game| %>
    <li>
      <%= link_to game.name, game %>
    </li>
  <% end %>
</ul>