<header>
  <h1><%= image_tag 'logo_colorful.png' %></h1>
</header>

<div id='numbers_board'>
  <div id='blank_list'>
    <% 71.times do %>
      <%= image_tag 'gray_white1.png' %>
    <% end %>
    <%= image_tag 'black.png', id: 'spare_handle' %>
  </div>
  <div id='numbers_list'>
  </div>
</div>

<div id='just_number_wrap'>
</div>