<header>
  <h1><%= image_tag 'logo_colorful.png' %></h1>
</header>

<div id='numbers_board'>
  <div id='blank_list'>
    <% 75.times do %>
      <%= image_tag 'gray.png' %>
    <% end %>
    <%= link_to (image_tag 'black.png'), handle_game_path %>
  </div>
  <div id='numbers_list'>
  </div>
</div>

