<header>
  <h1>BINGO</h1>
  <%= @game.name %>
  <%= link_to "ハンドル", handle_game_path %>
</header>

<br><br><br>

<div>
  <% if @game.balls.present? %>
    <table>
      <% @game.balls.each do |ball| %>
        <%= ball.number %>
      <% end %>
    <% end %>
  </table>
</div>