html, body {
  height: 100%;
}

h1 img {
  height: 49px;
}

// show page
#numbers_board {
  position: relative;
  img {
    width: 98px;
  }
}

#numbers_list {
  position: absolute;
  top: 0px;
}

#just_number_wrap {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
  }
}

// handle page
#machi_wrap {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#machi_handle {
  position: absolute;
  bottom: -250px;
}
