html, body {
  height: 100%;
}

h1 img {
  height: 49px;
}

#numbers_board {
  position: relative;
  img {
    width: 98px;
  }
}

#numbers_list {
  position: absolute;
  top: 0px;
}

#machi_wrap {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#machi_handle {
  position: absolute;
  bottom: -250px;
}
